<form [formGroup]="form" (ngSubmit)="submitForm()" class="form">

    <span [class.required-fields-highlighted]="form.invalid && form.touched">* Required fields</span>

    <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">

        @if(form.controls.email.errors?.['email']) {
        <mat-error>{{form.controls.email.errors?.['email'].message}}</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phoneNumber">

        @if(form.controls.phoneNumber.errors?.['phoneNumber']) {
        <mat-error>{{form.controls.phoneNumber.errors?.['phoneNumber'].message}}</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
            @for(role of roleOptions; track role) {
            <mat-option [value]="role">{{role}}</mat-option>
            }

        </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="isSubscribed">Subscribe to newsletter</mat-checkbox>

    <button mat-raised-button type="submit" [disabled]="form.invalid">Save</button>
</form>